h1{
    margin-left: 1rem !important;
    font-size: 3rem;
}
.d-flex{
    display: flex;
}
.code{
    background-color: var(--blue-500);
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}
.code-green{
    background-color: var(--green-500);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 1rem;
    margin: 0.5rem;
}